body {
  margin: 0;
  padding: 0;
}

.todo-container {
  padding: 20px;
}

.welcome-section {
  background-color: #F3F4F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 200px;
  width: 100%;
}


.welcome-heading {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond';
}

.welcome-message {
  font-size: 1.2rem;
  color: #777;
}

.add-task-section {
  margin: 50px auto;
  text-align: center;
}

.add-task-button {
  background-color: #4CAF50;
  color: white;
  font-size: 2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Cormorant Garamond';
  transition: background-color 0.3s;
}

.add-task-button:hover {
  background-color: #45a049;
}

.filter-section {
  background-color: #F3F4F6;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tasks-section {
  overflow-y: auto;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.no-tasks-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.no-tasks-found p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .welcome-section {
    height: auto;
    padding: 20px;
  }

  .welcome-heading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .welcome-message {
    font-size: 1rem;
  }

  .add-task-section {
    margin: 30px auto;
  }

  .add-task-button {
    font-size: 1.5rem;
    padding: 10px 20px;
  }

  .filter-section {
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }

  .task-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .no-tasks-found {
    height: auto;
  }

  .no-tasks-found p {
    font-size: 0.9rem;
  }
}